*{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  font-family: monospace;
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../img/image1.jpg');
}


.navbar .navbar-nav{
  float: right;
  list-style: none;
  margin-top: 2%;
}

.navbar .navbar-nav li{
    display: inline-block;
}

.navbar .navbar-nav li a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  list-style: none;
}

.navbar li.active a
{
    border: 1px solid white;

}

.navbar li a:hover
{
    border: 1px solid white;
}

#showcase{
  color: white;
  position: absolute;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  margin-top: 20%;
  border: 3px white solid;
}

#title{
  color: white;
  position: absolute;
  text-transform: uppercase;
  width: 77%;
  margin-left: 200px;
  text-align: center;
  font-size: 60px;
  margin-top: 6%;
  border: 3px white solid;
}

#information{
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 75%;
  margin-left: 200px;
  text-align: justify;
  margin-top: 15%;
  border: 3px white solid;
  padding: 20px;
}

#information .sources li a{
  text-decoration: none;
  color: white;
  list-style-type: none;
}

#information1{
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 75%;
  margin-left: 200px;
  text-align: justify;
  margin-top: 350px;
  border: 3px white solid;
  padding: 20px;
}

#information1 .sources li a{
  text-decoration: none;
  color: white;
  list-style-type: none;
}

img {
  width: 150px;
  border: 1px solid #ddd;
  float: right;
  padding: 5px;
  display: inline-block;
  margin: 25px 10px;
}
